@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or globals.css */

.light {
  /* Light theme styles */
  background-color: white;
  color: black;
  /* Other light theme styles... */
}

.dark {
  /* Dark theme styles */
  background-color: black;
  color: white;
  /* Other dark theme styles... */
}

