@tailwind base;
@tailwind components;
@tailwind utilities;



/* LIDHT/DARK Class*/
.light, .dark {
  transition: background-color 0.5s, color 0.5s; /* Adjust the duration as needed */
  /* ... other styles ... */
}

.light {
  background-color: white;
  color: black;
  /* background-image: url('/bg5.png'); */
}


.dark {
  background-color: rgb(114, 104, 104);
  color: white;
  /*background-image: url('/bg4.png');*/
}




/* Did not properly align so i found this solution for the WYSGWGSGSGWG*/

.ql-align-right {
	text-align: right;
}
.ql-align-center {
	text-align: center;
}
.ql-align-left {
	text-align: left;
}

/*-------*/