@tailwind base;
@tailwind components;
@tailwind utilities;


.light, .dark {
  transition: background-color 0.5s, color 0.5s;
}

.light {
  background-color: white;
  color: rgb(66,66,66);
  /* background-image: url('/bg5.png'); */
}


.dark {
  background-color: rgb(66,66,66);
  color: white;
  /*background-image: url('/bg4.png');*/
}


/* Did not properly align so i found this solution for the WYSGWGSGSGWG maybe not pretty but this is the only thing that i found ahah*/

.ql-align-right {
	text-align: right;
}
.ql-align-center {
	text-align: center;
}
.ql-align-left {
	text-align: left;
}